# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
ENV/

# Environment variables
.env

# Django stuff
*.sqlite3
db.sqlite3
/staticfiles

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# VS Code / IDE
.vscode/
.idea/

# Migrations (optional - usually keep them)
# */migrations/*
# !*/migrations/__init__.py